#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li{
  list-style: none;
}
.card{
  display: flex;
  
}

.item-card{
  padding: 2rem;
  border: 1px solid white;
  border-radius: 8px;
  transition: border-color 0.25s;
  margin: 1rem 1rem;
}
.item-card:hover{
  border-color: #646cff;
}

